*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 900px;
    height: 500px;
    background-color: aqua;
    margin: 30px auto;
    padding: 10px;
}
.container .header-container{
    width: 850px;
    height: 90px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.container .content-conatainer{
    width: 850px;
    height: 350px;
    background-color: rgb(90, 53, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}
.content-conatainer .j{
    width: 300px;
    height: 310px;
    background-color: pink;
    margin-left: 15px;
}
.content-conatainer .k{
    width: 500px;
    height: 310px;
    background-color: yellow;
    margin-right: 15px;
}